<launch>

    <node pkg="aruco_ros" type="marker_publisher" name="aruco_marker_publisher">
        <remap from="/camera_info" to="/camera/color/camera_info" />
        <remap from="/image" to="/camera/color/image_raw" />
        <param name="image_is_rectified" value="True"/>
        <param name="marker_size"        value="0.04"/>
        <param name="reference_frame"    value="world"/>
        <param name="camera_frame"       value="camera_color_optical_frame"/>
    </node>

    <node pkg="tf" type="static_transform_publisher" name="camera_to_world" args="-0.3451959  -0.5019588   0.72737837  0.4343285   0.50681694 -0.28849337
  0.68648884 world camera_link 10" />

</launch>

