<launch>

<!--    <node pkg="aruco_ros" type="marker_publisher" name="aruco_marker_publisher">-->
<!--        <remap from="/camera_info" to="/camera/color/camera_info"/>-->
<!--        <remap from="/image" to="/camera/color/image_raw"/>-->
<!--        <param name="image_is_rectified" value="True"/>-->
<!--        <param name="marker_size" value="0.04"/>-->
<!--        <param name="reference_frame" value="world"/>-->
<!--        <param name="camera_frame" value="camera_color_optical_frame"/>-->
<!--    </node>-->

    <node pkg="aruco_ros" type="marker_publisher" name="cam01_aruco_marker_publisher">
        <remap from="/camera_info" to="/ob_camera_01/color/camera_info"/>
        <remap from="/image" to="/ob_camera_01/color/image_raw"/>
        <param name="image_is_rectified" value="True"/>
        <param name="marker_size" value="0.04"/>
        <param name="reference_frame" value="world"/>
        <param name="camera_frame" value="ob_camera_01_color_optical_frame"/>
    </node>

    <node pkg="aruco_ros" type="marker_publisher" name="cam02_aruco_marker_publisher">
        <remap from="/camera_info" to="/ob_camera_02/color/camera_info"/>
        <remap from="/image" to="/ob_camera_02/color/image_raw"/>
        <param name="image_is_rectified" value="True"/>
        <param name="marker_size" value="0.04"/>
        <param name="reference_frame" value="world"/>
        <param name="camera_frame" value="ob_camera_02_color_optical_frame"/>
    </node>

    <node pkg="tf" type="static_transform_publisher" name="camera_01_to_world"
          args="0.465166 -0.42590476  0.37634892 -0.20534141 -0.02751783  0.97597023 -0.06752613 base_link ob_camera_01_link 10"/>

    <node pkg="tf" type="static_transform_publisher" name="camera_02_to_world"
          args="-0.54326354 -0.37640119  0.37693942 -0.00958675  0.23628084  0.01173544 0.97156664 base_link ob_camera_02_link 10"/>

</launch>

