<launch>
    <arg name="camera_name" default="ob_camera"/>

    <arg name="camera1_type" default="gemini2"/>
    <arg name="camera1_prefix" default="01"/>
<!--    <arg name="camera1_usb_port" default="4-1-2"/>-->
<!--    <arg name="camera1_serial_number" default="AY3N430008K"/>-->

    <arg name="camera2_type" default="gemini2"/>
    <arg name="camera2_prefix" default="02"/>
<!--    <arg name="camera2_usb_port" default="8-2-2"/>-->
<!--    <arg name="camera2_serial_number" default="AY3N430001D"/>-->
<!--    <arg name="camera2_type" default="gemini2"/>-->

    <arg name="camera3_prefix" default="03"/>
<!--    <arg name="camera3_usb_port" default="8-2-2"/>-->
<!--    <arg name="camera3_serial_number" default="AY3N430001D"/>-->
<!--    <arg name="camera3_type" default="gemini"/>-->

    <arg name="device_num" default="2"/>

<!--    <node name="camera" pkg="orbbec_camera" type="ob_cleanup_shm_node" output="screen"/>-->

    <include file="$(find orbbec_camera)/launch/$(arg camera1_type).launch">
        <arg name="camera_name" value="$(arg camera_name)_$(arg camera1_prefix)"/>
<!--        <arg name="usb_port" value="$(arg camera1_usb_port)"/>-->
<!--        <arg name="serial_number" value="$(arg camera1_serial_number)"/>-->
        <arg name="device_num" value="$(arg device_num)"/>
    </include>


    <include file="$(find orbbec_camera)/launch/$(arg camera2_type).launch">
        <arg name="camera_name" value="$(arg camera_name)_$(arg camera2_prefix)"/>
<!--        <arg name="usb_port" value="$(arg camera2_usb_port)"/>-->
<!--        <arg name="serial_number" value="$(arg camera2_serial_number)"/>-->
        <arg name="device_num" value="$(arg device_num)"/>
    </include>

<!--    <include file="$(find orbbec_camera)/launch/$(arg camera3_type).launch">-->
<!--        <arg name="camera_name" value="$(arg camera_name)_$(arg camera3_prefix)"/>-->
<!--        <arg name="usb_port" value="$(arg camera3_usb_port)"/>-->
<!--        <arg name="serial_number" value="$(arg camera3_serial_number)"/>-->
<!--        <arg name="device_num" value="$(arg device_num)"/>-->
<!--    </include>-->

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find lebai_tutorials)/scripts/rviz_config.rviz"/>

</launch>
